<section id="portfolio">
	<% if @browser != "ios" %>
		<h6>&nbsp;</h6>
	<% end %>	
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<ul class="fake-filter text-center">
					<li><a href="#" data-filter="*" class="active"><%= @cameras[0].nombre %></a></li>
					<li><a href="#" data-filter="*" class="active">Sucursal <%= @cameras[0].sucursal %><%= "#{ @cameras[0].numcamera == 0 ? "" : " - #{@cameras[0].numcamera}" }" %></a></li>
					<li><a href="<%= raw( @feed_url ) %>" target="_blank">Ver Feed en Vivo <i class="icon-videocam"></i></a></li>
				</ul><!-- /.filter -->				
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 portfolio">
				<ul class="items col-3">
					<% camera = @cameras[0] %>
					<% counter = 0 %>
					<% @camera_imgs.each do |img| %>
						<li class="item thumb interactive">
							<a href="/view_detail/<%= camera.sucursal.to_s %>-<%= camera.numcamera.to_s %>?img=<%= img.split("/")[-1].gsub(".jpg","") %>">
								<figure>
									<figcaption class="text-overlay">
										<div class="info">
											<h4><%= get_exact_time( img ) %></h4>
										</div><!-- /.info -->
									</figcaption>
									<img src="<%= img %>" alt="">
								</figure>
							</a>
						</li><!-- /.item -->
						<% counter += 1 %>
						<% break if counter == 3 %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
	
	<% if @camera_imgs.count > 3 %>

		<div class="portfolio">
			
			<ul style="position: relative; overflow: hidden; height: 970px;" class="items fullscreen isotope">
				
				<% @offsetx = 284 %>
				<% @offsety = 194 %>
				<% col = 0 %>
				<% row = 0 %>

				<% @camera_imgs[3..-1].each do |img| %>

					<% first = col == 0 && row == 0 %>
					<% @this_offsetx = @offsetx %>

					<li style="width: <%= @this_offsetx %>px; position: absolute; left: 0px; top: 0px; transform: translate(<%= @this_offsetx * col %>px, <%= @offsety * row %>px);" class="item thumb isotope-item <%= camera.tags.to_s.gsub(","," ") %> <%#= "first-item" if first %>">

						<a href="/view_detail/<%= camera.sucursal.to_s %>-<%= camera.numcamera.to_s %>?img=<%= img.split("/")[-1].gsub(".jpg","") %>">

							<figure>
								<figcaption class="text-overlay">
									<div class="info">
										<h4><%= get_exact_time( img ) %></h4>
									</div><!-- /.info -->
								</figcaption>
								
								<img src="<%= img %>" alt="">

							</figure>
					</li><!-- /.item -->

					<% col = col + 1 %>
					<% row, col = row + 1, 0 if col == 5 %>
					<%# if col == 5 %>
						<%# row = row + 1 %>
						<%# col = 0 %>
					<%# end %>

				<% end %>

			</ul><!-- /.items -->
		</div><!-- /.portfolio -->
	<% end %>
</section>


<section id="get-started" class="tint-bg">
	<div class="container inner-sm">
		<div class="row">
			<div class="col-sm-11 center-block text-center">
				<h1 class="single-block">&nbsp;</h1>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

	<div class="container inner">
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center alwayson">
				<header>
					<h1><a href="<%= raw( @feed_url ) %>" target="_blank">Ver Feed en Vivo</a></h1>
					<h1><a href="<%= raw( @feed_url ) %>" target="_blank"><i class="icon-videocam"></i></a></h1>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->

	<style>

.first-item {
	width: 33.333333% !important;
}
		.fake-filter {
			padding: 0;
		    margin-bottom: 40px;
		}
		.fake-filter:before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			width: 100%;
			border-bottom: 1px solid #CED7E0;
		}
		.fake-filter li {
		    display: inline;
			position: relative;
			background: #FFF;
			font-size: 15px;
		    font-weight: 700;
			line-height: 150%;
			letter-spacing: .031em;
		    text-transform: uppercase;
			margin: 0 -2px;
		}
		.light-bg .format-filter li {
			background: #F2F5F7;
		}
		.fake-filter li:after {
			content: "\00b7";
		}
		.fake-filter li:last-child:after {
			content: "";
		}
		.fake-filter li a {
		    padding: 0 15px;
		}
		.light-bg .fake-filter:before {
			border-color: #BCC7D1;
		}
		.light-bg .fake-filter li {
			background: #F2F5F7;
		}
		.dark-bg .fake-filter:before {
			border-color: #73879C;
		}
		.dark-bg .fake-filter li {
			background: #2F4052;
		}

	</style>
	