<%= simple_form_for(@camera) do |f| %>
  <%#= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :sucursal %>
    <%= f.input :numcamera %>
    <%= f.input :nombre %>
    <%= f.input :ipaddress %>
    <%= f.input :user %>
    <%= f.input :pass %>
    <%= f.input :tags %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
